@using SimpleIdServer.IdServer.Website.Infrastructures;

<Fluxor.Blazor.Web.StoreInitializer />

<CascadingAuthenticationState>
    <RealmRouter AppAssembly="@typeof(IdServerRouter).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </RealmRouter>
</CascadingAuthenticationState>