@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model SimpleIdServer.IdServer.UI.ViewModels.BaseAuthenticateViewModel
@using SimpleIdServer.IdServer.Startup.Resources
@using System.Globalization

@{
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}

<div class="loginContainer">
    <div class="card login">
        @if (string.IsNullOrWhiteSpace(ViewBag.MaximumNumberOfActiveSessions))
        {
            <div class="card-body">
                <div class="clientinfo">
                    @Html.ClientPicture(Model.LogoUri)
                </div>
                @RenderBody()
                <div class="divider">
                    <p class="fw-bold text">OR</p>
                </div>
                <div>
                    <ul class="extauth">
                        @foreach (var extProvider in Model.ExternalIdsProviders)
                        {
                            <li>
                                <a class="btn btn-secondary"
                                   asp-controller="ExternalAuthenticate"
                                   asp-area=""
                                   asp-action="Login"
                                   asp-route-scheme="@extProvider.AuthenticationScheme"
                                   asp-route-returnUrl="@Model.ReturnUrl"
                                   asp-route-prefix="@Model.Realm">@extProvider.DisplayName</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="card-footer">
                @if (!string.IsNullOrWhiteSpace(Model.TosUri))
                {
                    <a href="@Model.TosUri" target="_blank">@AuthenticatePasswordResource.tos</a>
                }

                @if (!string.IsNullOrWhiteSpace(Model.PolicyUri))
                {
                    <a href="@Model.PolicyUri" target="_blank">@AuthenticatePasswordResource.policy</a>
                }
            </div>

        }
        else
        {
            <div class="alert alert-danger">
                <p>
                    @AuthenticatePasswordResource.maximum_number_active_sessions
                </p>
                <p>
                    @AuthenticatePasswordResource.reject_sessions : <a href="@Url.Action("Index", "Accounts", new { area = "" })">@AuthenticatePasswordResource.sessions</a>
                </p>
            </div>
        }
    </div>
</div>

@section Scripts {
    @RenderSection("SubScripts", required: false)
}