@using SimpleIdServer.IdServer.Domains;
@using SimpleIdServer.IdServer.Startup.Resources
@using System.Security.Claims;
@using SimpleIdServer.Vc.Models;
@model SimpleIdServer.IdServer.UI.ViewModels.CredentialsViewModel

@{
    ViewBag.Title = CredentialsResource.title;
    Layout = "~/Views/Shared/_Layout.cshtml";
    Func<CredentialTemplateDisplay, string> getCardBodyClass = (d) =>
    {
        if (string.IsNullOrWhiteSpace(d.BackgroundColor)) return string.Empty;
        return $"background-color:{d.BackgroundColor}";
    };
}

<div class="row gy-4">
    @foreach(var credential in Model.Credentials)
    {
        <div class="col-md-3 credential">
            <div class="card shadow-sm">
                @if(credential.Display != null)
                {
                    @if(!string.IsNullOrWhiteSpace(credential.Display.LogoUrl))
                    {
                        <img class="card-img-top" src="@credential.Display.LogoUrl" />
                    }
                    <div class="card-body" style=@getCardBodyClass(credential.Display)>
                        <h5 class="card-title">@credential.Display.Name</h5>
                        @if(!string.IsNullOrWhiteSpace(credential.Display.Description))
                        {
                            <p class="card-text">@credential.Display.Description</p>
                        }

                        <form method="post" class="share" data-credentialId="@credential.Id" target="@Url.Action("Share", "CredentialOffer")">
                            <a href="#" class="btn btn-primary">@CredentialsResource.share</a>
                        </form>
                    </div>
                }
            </div>
        </div>  
    }
</div>

<div class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function() {

        });
    </script>
}