<CascadingAuthenticationState>
    <MultiTenantRouter AppAssembly="@typeof(App).Assembly" PreferExactMatches="@true">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            </RouteView>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
        <NoTenant Context="message">
            <LayoutView Layout="@typeof(MainLayout)">
                <p>@message</p>
            </LayoutView>
        </NoTenant>
    </MultiTenantRouter>
</CascadingAuthenticationState>
