@using Microsoft.Extensions.Options;
@using SimpleIdServer.IdServer.Options;
@using SimpleIdServer.IdServer.SqlSugar.Startup;
@using SimpleIdServer.IdServer.SqlSugar.Startup.Resources;
@model SimpleIdServer.IdServer.Console.UI.ViewModels.AuthenticateConsoleViewModel
@inject IOptions<IdServerHostOptions> configuration

@{
    ViewBag.Title = AuthenticateConsoleResource.title;
    Layout = "~/Views/Shared/_AuthenticateLayout.cshtml";
    var returnUrl = Microsoft.AspNetCore.Http.Extensions.UriHelper.GetDisplayUrl(Context.Request);
    var realm = SimpleIdServer.IdServer.Helpers.RealmContext.Instance()?.Realm;
    var registationUrl = $"{(string.IsNullOrWhiteSpace(realm) ? "/" : $"/{realm}/")}Registration?redirectUrl={returnUrl}&workflowName={Model.RegistrationWorkflow?.Name}";
}

@if (!ViewData.ModelState.IsValid)
{
    <ul class="list-group mb-3">
        @foreach (var modelState in ViewData.ModelState.Values)
        {
            foreach (var error in modelState.Errors)
            {
                <li class="list-group-item list-group-item-danger">@AuthenticateConsoleResource.ResourceManager.GetString(error.ErrorMessage)</li>
            }
        }
    </ul>
}

<!-- Send confirmation code -->
<div class="mt-3">
    @if (!string.IsNullOrWhiteSpace(ViewBag.SuccessMessage))
    {
        <div class="alert alert-success">
            @AuthenticateConsoleResource.ResourceManager.GetString(ViewBag.SuccessMessage)
            @if (Model.TOTPStep != null)
            {
                @string.Format(AuthenticateConsoleResource.code_validity, Model.TOTPStep)
            }
        </div>
    }

    @using (Html.BeginForm("Index", "Authenticate", new { area = "console", returnUrl = Model.ReturnUrl }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="ReturnUrl" />
        <input type="hidden" name="Action" value="SENDCONFIRMATIONCODE" />
        <input asp-for="IsFirstAmr" type="hidden" class="form-control" />
        <input asp-for="IsLoginMissing" type="hidden" class="form-control" />
        <input asp-for="IsAuthInProgress" type="hidden" class="form-control" />
        <div class="input-group mb-3">
            @if (Model.IsAuthInProgress)
            {
                <input asp-for="Login" placeholder="@AuthenticateConsoleResource.login" type="text" class="form-control" disabled="disabled" />
                <input asp-for="Login" placeholder="@AuthenticateConsoleResource.login" type="hidden" class="form-control" />
            }
            else
            {
                <input asp-for="Login" placeholder="@AuthenticateConsoleResource.login" type="text" class="form-control" />
            }
        </div>
        <button type="submit" class="btn btn-primary">@AuthenticateConsoleResource.sendconfirmationcode</button>
    }
</div>

<!-- Login form -->
@using (Html.BeginForm("Index", "Authenticate", new { area = SimpleIdServer.IdServer.Console.Constants.AMR, returnUrl = Model.ReturnUrl }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="ReturnUrl" />
    <input type="hidden" name="Action" value="AUTHENTICATE" />
    <input asp-for="IsFirstAmr" type="hidden" class="form-control" />
    <input asp-for="IsLoginMissing" type="hidden" class="form-control" />
    <input asp-for="IsAuthInProgress" type="hidden" class="form-control" />
    <input asp-for="Login" placeholder="@AuthenticateConsoleResource.login" type="hidden" class="form-control" />
    <!-- Confirmation code -->
    <div class="input-group mb-3">
        <input asp-for="OTPCode" placeholder="@AuthenticateConsoleResource.confirmationcode" type="password" class="form-control" />
    </div>
    @if(Model.IsFirstAmr)
    {
        <div>
            <input type="checkbox" asp-for="RememberLogin " />
            <label>@AuthenticateConsoleResource.remember_login</label>
        </div>
    }
    <button type="submit" class="btn btn-primary">@AuthenticateConsoleResource.authenticate</button>
}

@if (Model.IsFirstAmr && Model.RegistrationWorkflow != null)
{
    <div>
        <div class="divider">
            <p class="fw-bold text">OR</p>
        </div>
        <a href="@registationUrl">@AuthenticatePasswordResource.register</a>
    </div>
}

@section SubScripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $(".login input[name='RememberLogin']").change(function (e) {
                $(this).val($(this).is(':checked'));
            });
        });
    </script>
}