@using FormBuilder.Components.Drag
@using FormBuilder.Helpers
@inject ITranslationHelper translationHelper

<DraggableFormElement IsEditModeEnabled=@IsEditModeEnabled ParentContext="@ParentContext" Context="@Context" TDialog="FormPasswordDialog" TRecord="FormPasswordFieldRecord" Record="@Value">
     <Children>
          <div class="rz-form-field rz-variant-outlined rz-floating-label">
            <RadzenLabel Text="@translationHelper.Translate(Value, InputData, !IsEditModeEnabled)"></RadzenLabel>
            <RadzenPassword @bind-Value="@Value.Value"></RadzenPassword>
          </div>
     </Children>
</DraggableFormElement>