@model ProtectAPIFromUndesirableUsers.TraditionalWebsite.ViewModels.AuthenticateViewModel

@{
    ViewData["Title"] = "Authenticate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.ValidationSummary()

<div class="row">
    <div class="col-md-8">
        <form action="@Url.Action("Authenticate", "Home")" method="post">
            <div class="form-group">
                <label>Login</label>
                <input type="text" name="Login" class="form-control" value="@Model.Login" />
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" name="Password" class="form-control" value="@Model.Password" />
            </div>
            <button class="btn btn-primary">Authenticate</button>
        </form>
    </div>
    <div class="col-md-4">
        <a class="btn btn-primary" href="@Url.Action("Login", "Home")">Use external identity provider</a>
    </div>
</div>