@using FormBuilder
@using FormBuilder.Helpers
@using Microsoft.AspNetCore.Http
@using Microsoft.Extensions.Options
@using SimpleIdServer.IdServer.Fido
@using SimpleIdServer.IdServer.Fido.UI.ViewModels
@using SimpleIdServer.IdServer.Template.Startup.Resources
@using SimpleIdServer.IdServer.UI.ViewModels
@using System.Text.Json
@using System.Text.Json.Nodes
@model SidWorkflowViewModel
@inject IOptions<FormBuilderOptions> options
@inject IUriProvider uriProvider
@inject IHttpContextAccessor HttpContextAccessor;

@{
    var antiforgeryToken = HttpContextAccessor.HttpContext.Request.Cookies[options.Value.AntiforgeryCookieName];
    Model.AntiforgeryToken.CookieValue = antiforgeryToken;
    var step = Model.Workflow?.Steps?.SingleOrDefault(s => s.Id == Model.CurrentStepId);
    var makeAssertionsOptionsUrl = Url.Action("MakeAssertionOptions", "Authenticate", new { area = "mobile" });
    var authenticateUrl = Url.Action("Index", "Authenticate", new { area = "mobile" });
    var returnUrl = Model.Input[nameof(ISidStepViewModel.ReturnUrl)]?.ToString() ?? string.Empty;
    var inputViewModel = JsonSerializer.Deserialize<AuthenticateMobileViewModel>(Model.Input.ToString());
    var beginLoginUrl = inputViewModel.BeginLoginUrl;
    var loginStatusUrl = inputViewModel.LoginStatusUrl;
}

@section CardTop {
    <partial name="_WorkflowAuthTitle" model="@AuthenticateMobileResource.auth_title" />
}

<partial name="_WorkflowAuthAsyncError" />

<form id="generateQrCodeForm" asp-area="mobile" asp-controller="Authenticate" asp-action="Index" method="post">
    @Html.AntiForgeryToken()

    <input type="hidden" name="@nameof(ISidStepViewModel.ReturnUrl)" value="@returnUrl" />
    <input type="hidden" name="@nameof(ISidStepViewModel.Realm)" value="@Model.Realm" />
    <input type="hidden" name="@nameof(BaseAuthenticateViewModel.StepId)" value="@Model.CurrentStepId" />
    <input type="hidden" name="@nameof(BaseAuthenticateViewModel.WorkflowId)" value="@Model.Workflow.Id" />
    <input type="hidden" name="@nameof(BaseAuthenticateViewModel.CurrentLink)" value="@Model.Workflow.Links.Single(l => l.Source.EltId == StandardFidoAuthForms.mobileFormId).Id" />
    <input type="hidden" name="@nameof(IQRCodeAuthViewModel.SessionId)" />

    <div class="mb-3">
        <label class="form-label" for="Login">@AuthenticateMobileResource.login</label>
        @if (!string.IsNullOrWhiteSpace(inputViewModel.Login) && (User.Identity.IsAuthenticated || inputViewModel.IsAuthInProgress))
        {
            <input id="Login" name="@nameof(BaseAuthenticateViewModel.Login)" class="form-control" value="@inputViewModel.Login" disabled />
            <input type="hidden" name="@nameof(BaseAuthenticateViewModel.Login)" value="@inputViewModel.Login" />
        }
        else
        {
            <input id="Login" name="@nameof(BaseAuthenticateViewModel.Login)" class="form-control" autocomplete="on" value="@inputViewModel.Login" required />
        }
    </div>

    <div class="d-grid">
        <button type="submit" class="btn btn-primary">@AuthenticateMobileResource.generate_qrcode</button>
    </div>
</form>

<div id="qrCodeContainer" class="mt-4" style="display: none !important; text-align: center;">
    <h5 class="mb-3">@AuthenticateMobileResource.scan_mobileapp</h5>
    <div class="picture-container">
        <img src="" class="img-fluid" alt="image" />
    </div>
</div>

@section Scripts {
    <partial name="_WorkflowAuthAsyncErrorScripts" />
    <script type="text/javascript">
        var isInitialized = false;
        var init = function() {
            var beginLoginUrl = "@beginLoginUrl";
            var loginStatusUrl = "@loginStatusUrl";

            var displayError = function (errorJson) {
                window.sidWorkflowAuth.displayError(errorJson);
            }

            var displayQRCode = function (img) {
                $("#generateQrCodeForm").css("display", "none");
                $("#qrCodeContainer").css("display", "");
                $("#qrCodeContainer img").attr("src", img);
            }

            async function checkStatus(sessionId) {
                setTimeout(async function () {
                    let response = await fetch(loginStatusUrl + "/" + sessionId, {
                        method: 'GET'
                    });
                    if (!response.ok) {
                        let responseJson = await response.json();
                        displayError(responseJson);
                        await checkStatus(sessionId);
                    } else {
                        $("#generateQrCodeForm").unbind("submit");
                        $("#generateQrCodeForm input[name='Login']").removeAttr('disabled');
                        $("#generateQrCodeForm input[name='SessionId']").val(sessionId);
                        $("#generateQrCodeForm").trigger("submit");
                    }
                }, 1000);
            }

            async function makeAssertionOptions(form) {
                window.sidWorkflowAuth.clearError();
                let response = await fetch(beginLoginUrl, {
                    method: 'POST',
                    body: JSON.stringify({ login: form.Login, credential_type: 'mobile' }),
                    headers: {
                        "Accept": "application/json",
                        "Content-Type": "application/json"
                    }
                });
                if (!response.ok) {
                    const json = await response.json();
                    displayError(json);
                    return;
                }

                const sessionId = response.headers.get('SessionId');
                const qrCode = response.headers.get('QRCode');
                const blob = await response.blob();
                const img = URL.createObjectURL(blob);

                displayQRCode(img);
                await checkStatus(sessionId);
            }

            var tryListenForm = function () {
                const elt = $("#generateQrCodeForm");
                if (isInitialized === true) return;
                if (elt.length === 0) {
                    setTimeout(() => tryListenForm(), 500);
                    return;
                }

                isInitialized = true;
                elt.submit(function (e) {
                    e.preventDefault();
                    makeAssertionOptions(convertFormToJSON($(e.target)));
                });
            }

            tryListenForm();
        }

        $(document).ready(function() {
            init();
        });
    </script>
}