@using Microsoft.Extensions.Options;
@using SimpleIdServer.OAuth.Options;
@using SimpleIdServer.OpenID.Startup.Resources;
@model SimpleIdServer.UI.Authenticate.Sms.ViewModels.AuthenticateViewModel
@inject IOptions<OAuthHostOptions> configuration

@{
    ViewBag.Title = Global.authenticate_sms;
}

<div>
    <div class="card">
        <div class="card-header">@Global.authenticate_sms</div>
        <div class="card-body">
            @if (!string.IsNullOrWhiteSpace(Model.LogoUri))
            {
                <img class="card-img-top rounded mx-auto d-block" src="@Model.LogoUri" style="max-width: 300px" />
            }
            <h5 class="card-title">@Model.ClientName</h5>
            <div class="alert alert-info">
                @string.Format(Global.code_validity, configuration.Value.TOTPStep)
            </div>
            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger">
                    <ul class="list-group">
                        @foreach (var modelState in ViewData.ModelState.Values)
                        {
                            foreach (var error in modelState.Errors)
                            {
                                <li class="list-group-item list-group-item-danger">@Global.ResourceManager.GetString(error.ErrorMessage)</li>
                            }
                        }
                    </ul>
                </div>
            }
            <div class="row">
                <div class="col-md-6">
                    @if (!string.IsNullOrWhiteSpace(ViewBag.SuccessMessage))
                    {
                        <div class="alert alert-success">@Global.ResourceManager.GetString(ViewBag.SuccessMessage)</div>
                    }
                    @using (Html.BeginForm("Index", "Authenticate", new { area = "sms", returnUrl = Model.ReturnUrl }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" asp-for="ReturnUrl" />
                        <input type="hidden" name="Action" value="SENDCONFIRMATIONCODE" />
                        <div class="form-group">
                            <label asp-for="PhoneNumber">@Global.phonenumber</label>
                            <input asp-for="PhoneNumber" type="text" class="form-control" />
                        </div>
                        <button type="submit" class="btn btn-primary card-link">@Global.sendconfirmationcode</button>
                    }
                </div>
                <div class="col-md-6">
                    @using (Html.BeginForm("Index", "Authenticate", new { area = "sms", returnUrl = Model.ReturnUrl }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" asp-for="ReturnUrl" />
                        <input type="hidden" name="Action" value="AUTHENTICATE" />
                        <div class="form-group">
                            <label asp-for="PhoneNumber">@Global.phonenumber</label>
                            <input asp-for="PhoneNumber" type="text" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="OTPCode">@Global.confirmationcode</label>
                            <input asp-for="OTPCode" type="password" class="form-control" />
                        </div>
                        <div>
                            <input type="checkbox" asp-for="RememberLogin " />
                            <label>@Global.remember_login</label>
                        </div>
                        <button type="submit" class="btn btn-primary card-link">@Global.authenticate</button>
                    }

                </div>
            </div>
        </div>
        <div class="card-footer">
            <div style="float: right">
                @if (!string.IsNullOrWhiteSpace(Model.TosUri))
                {
                    <a href="@Model.TosUri" target="_blank">@Global.tos</a>
                }

                @if (!string.IsNullOrWhiteSpace(Model.PolicyUri))
                {
                    <a href="@Model.PolicyUri" target="_blank">@Global.policy</a>
                }
            </div>
        </div>
    </div>
</div>