@page "/scopes"
@layout SimpleIdServer.IdServer.Website.Shared.MainLayout
@attribute [Authorize("Authenticated")]
@inject IState<SearchScopesState> scopesState
@inject IDispatcher dispatcher
@inject NotificationService notificationService 
@inject DialogService dialogService
@inject ContextMenuService contextMenuService
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@inject IUrlHelper urlHelper
@using SimpleIdServer.IdServer.Website.Resources;
@using SimpleIdServer.IdServer.Website.Shared.Dialogs
@using SimpleIdServer.IdServer.Website.Stores.RealmStore;
@using SimpleIdServer.IdServer.Website.Stores.ScopeStore;

<SidAuthorizeView Roles=@($"/scopes/manage,/scopes/view")>
    <Authorized>
        <div class="row">
            <div class="col">
                <RadzenText class="mt-3 mb-3 no-margin" Text="@Global.Scopes" TextStyle="TextStyle.DisplayH3" />
                <p>
                    @Global.ScopesDescription
                </p>
            </div>
            <div class="col-3">
                <SidAuthorizeView Roles=@($"/scopes/manage")>
                    <Authorized>
                        <RadzenButton class="mb-1" Click="@(args => AddScope())" Icon="add" Text="@Global.AddScope" ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Medium"></RadzenButton>
                    </Authorized>
                </SidAuthorizeView>
            </div>
        </div>

        <RadzenDataGrid @ref=scopesGrid
                        AllowFiltering="true"
                        AllowColumnResize="true"
                        AllowAlternatingRows="false"
                        AllowSorting="true"
                        PageSize="30"
                        AllowPaging="true"
                        PagerHorizontalAlign="HorizontalAlign.Left"
                        ShowPagingSummary="true"
                        FilterMode="FilterMode.Simple"
                        LogicalFilterOperator="LogicalFilterOperator.And"
                        FilterCaseSensitivity=FilterCaseSensitivity.CaseInsensitive
                        IsLoading="@scopesState.Value.IsLoading"
                        Count="@scopesState.Value.Count"
                        Data="@scopesState.Value.Scopes"
                        LoadData="@LoadData"
                        RowRender="@RowRender"
                        TItem="SelectableScope"
                        ColumnWidth="300px">
            <Columns>
                <RadzenDataGridColumn TItem="SelectableScope" Filterable="false" Sortable="false" Width="80px" TextAlign="TextAlign.Center">
                    <HeaderTemplate>
                        <RadzenCheckBox @bind-Value=@selectAll Change="@(args => ToggleAll(args))" TValue="bool" />
                    </HeaderTemplate>
                    <Template Context="data">
                        <RadzenCheckBox @bind-Value=@data.IsSelected Change="@(args => ToggleChanged(args, data))" TValue="bool" />
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="SelectableScope" Property="Value.Name" Filterable="true" Sortable="false" Title="@Global.Name" Width="80px">
                    <Template Context="data">
                        <RadzenLink Text="@data.Value.Name" Path="@(urlHelper.GetUrl($"/scopes/{data.Value.Id}/settings"))" />
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="SelectableScope" Property="Value.Type" Filterable="true" Sortable="false" Title="@Global.Type" Width="80px">
                    <Template Context="data">
                        @if (data.Value.Type == ScopeTypes.IDENTITY)
                        {
                            <RadzenBadge Text="@Global.IdentityResource" IsPill="true" />
                        }
                        else
                        {
                            <RadzenBadge Text="@Global.ApiResource" IsPill="true" />
                        }
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="SelectableScope" Property="Value.Protocol" Filterable="true" Sortable="false" Title="@Global.Protocol" Width="80px">
                    <Template Context="data">
                        @if (data.Value.Protocol == ScopeProtocols.OPENID)
                        {
                            <RadzenBadge Text="@Global.OpenId" IsPill="true" />
                        }
                        else if (data.Value.Protocol == ScopeProtocols.SAML)
                        {
                            <RadzenBadge Text="@Global.Saml" IsPill="true" />
                        }
                        else if (data.Value.Protocol == ScopeProtocols.OAUTH)
                        {
                            <RadzenBadge Text="@Global.OAuth" IsPill="true" />
                        }
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="SelectableScope" Property="Value.Source" Filterable="true" Sortable="false" Title="@Global.Source" Width="80px">
                    <Template Context="data">
                        @if(!string.IsNullOrWhiteSpace(data.Value.Source))
                        {
                            <RadzenBadge Text="@data.Value.Source" BadgeStyle="BadgeStyle.Info" IsPill="true" />
                        }
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="SelectableScope" Property="Value.Description" Filterable="true" Sortable="false" Title="@Global.Description" Width="80px" />
                <RadzenDataGridColumn TItem="SelectableScope" Property="Value.UpdateDateTime" Filterable="true" Sortable="true" FormatString="{0:dd/M/yyyy HH:mm:ss}" SortOrder="SortOrder.Descending" Title="@Global.UpdateDateTime" Width="80px" />
                <RadzenDataGridColumn TItem="SelectableScope" Filterable="false" Sortable="false" FormatString="{0:dd/M/yyyy HH:mm:ss}" Width="80px" TextAlign="TextAlign.Center">
                    <Template Context="data">
                        <SidAuthorizeView Roles=@($"/scopes/manage")>
                            <Authorized>
                                <RadzenButton Icon="more_vert" Click="@(args => ShowMoreContextMenu(data, args))" />
                            </Authorized>
                        </SidAuthorizeView>
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
    </Authorized>
    <NotAuthorized>
        @Global.NotAuthorized
    </NotAuthorized>
</SidAuthorizeView>

@code {
    bool selectAll = false;
    RadzenDataGrid<SelectableScope> scopesGrid;

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender)
        {
            SubscribeToAction<RemoveSelectedScopesSuccessAction>((act) =>
            {
                notificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Success, Summary = Global.SelectedScopesRemoved });
                StateHasChanged();
            });
            if (!scopesState.Value.IsLoading)
                scopesGrid?.Reload();
        }
    }

    void LoadData(LoadDataArgs args)
    {
        var act = new SearchScopesAction { Filter = args.Filter, OrderBy = args.OrderBy, Skip = args.Skip, Take = args.Top };
        dispatcher.Dispatch(act);
    }    

    void ShowMoreContextMenu(SelectableScope scope, MouseEventArgs args)
    {
        contextMenuService.Open(args, new List<ContextMenuItem>
        {
            new ContextMenuItem { Text = Global.Delete, Value = 1 }
        }, (a) => {
            if (a.Value.Equals(1)) {
                var scopeIds = scopesState.Value.Scopes.Where(s => s.IsSelected).Select(s => s.Value.Id).ToList();
                var act = new RemoveSelectedScopesAction { ScopeIds = scopeIds };
                dispatcher.Dispatch(act);
                contextMenuService.Close();
            }
    });
    }

    void ToggleChanged(bool isSelected, SelectableScope scope)
    {
        var act = new ToggleScopeSelectionAction { IsSelected = isSelected, ScopeName = scope.Value.Name };
        dispatcher.Dispatch(act);
    }


    void ToggleAll(bool isSelected)
    {
        var act = new ToggleAllScopeSelectionAction { IsSelected = isSelected };
        dispatcher.Dispatch(act);
    }

    void RowRender(RowRenderEventArgs<SelectableScope> row)
    {
        const string className = "class";
        if (row.Data.IsNew)
            row.Attributes.Add(className, "new");
        else if (row.Data.IsSelected)
            row.Attributes.Add(className, "active");
        else if (row.Attributes.ContainsKey(className))
            row.Attributes.Remove(className);
    }

    async void AddScope()
    {
        await dialogService.OpenAsync<AddScopeDialog>(Global.AddScope, new Dictionary<string, object>(), new DialogOptions
        {
            Width = "700px",
            Height = "512px",
            Resizable = true,
            Draggable = true
        });
    }
}