@page "/users"
@inject IState<SearchUsersState> userState
@inject IDispatcher dispatcher
@inject NotificationService notificationService 
@inject DialogService dialogService
@inject ContextMenuService contextMenuService
@inject IUrlHelper urlHelper
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@using SimpleIdServer.IdServer.Website.Resources;
@using SimpleIdServer.IdServer.Website.Shared.Dialogs
@using SimpleIdServer.IdServer.Website.Stores.RealmStore;
@using SimpleIdServer.IdServer.Website.Stores.UserStore;

<SidAuthorizeView Roles=@($"/users/manage,/users/view")>
    <Authorized>
        <div class="row">
            <div class="col">
                <RadzenText class="mt-3 mb-3 no-margin" Text="@Global.Users" TextStyle="TextStyle.DisplayH3" />
                <p>
                    @Global.UsersDescription
                </p>
            </div>
            <div class="col-3">
                <SidAuthorizeView Roles=@($"/users/manage")>
                    <Authorized>
                        <RadzenButton class="mb-1" Click="@(args => AddUser())" Icon="add" Text="@Global.AddUser" ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Medium"></RadzenButton>
                    </Authorized>
                </SidAuthorizeView>
            </div>
        </div>

        <RadzenDataGrid @ref=gridUsers
                        AllowFiltering="true"
                        AllowColumnResize="true"
                        AllowAlternatingRows="false"
                        AllowSorting="true"
                        PageSize="30"
                        AllowPaging="true"
                        PagerHorizontalAlign="HorizontalAlign.Left"
                        ShowPagingSummary="true"
                        IsLoading="@userState.Value.IsLoading"
                        Count="@userState.Value.Count"
                        Data="@userState.Value.Users"
                        FilterMode="FilterMode.Simple"
                        LogicalFilterOperator="LogicalFilterOperator.And"
                        FilterCaseSensitivity=FilterCaseSensitivity.CaseInsensitive
                        LoadData="@LoadData"
                        RowRender="@RowRender"
                        TItem="SelectableUser"
                        ColumnWidth="300px">
            <Columns>
                <RadzenDataGridColumn TItem="SelectableUser" Filterable="false" Sortable="false" Width="80px" TextAlign="TextAlign.Center">
                    <HeaderTemplate>
                        <RadzenCheckBox @bind-Value=@selectAll Change="@(args => ToggleAll(args))" TValue="bool" />
                    </HeaderTemplate>
                    <Template Context="data">
                        <RadzenCheckBox @bind-Value=@data.IsSelected Change="@(args => ToggleChanged(args, data))" TValue="bool" />
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="SelectableUser" Filterable="false" Sortable="true" Title="Id" Width="80px">
                    <Template Context="data">
                        <RadzenLink Text="@data.Value.Id" Path="@(urlHelper.GetUrl($"/users/{data.Value.Id}/settings"))" />
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="SelectableUser" Property="Value.Name" Filterable="true" Sortable="false" Title="@Global.Name" Width="80px" />
                <RadzenDataGridColumn TItem="SelectableUser" Property="Value.Email" Filterable="true" Sortable="false" Title="@Global.Email" Width="80px" />
                <RadzenDataGridColumn TItem="SelectableUser" Property="Value.Firstname" Filterable="true" Sortable="false" Title="@Global.Firstname" Width="80px" />
                <RadzenDataGridColumn TItem="SelectableUser" Property="Value.Lastname" Filterable="true" Sortable="false" Title="@Global.Lastname" Width="80px" />
                <RadzenDataGridColumn TItem="SelectableUser" Filterable="true" Property="Value.Source" Sortable="false" Title="@Global.Source" Width="80px">
                    <Template Context="data">
                        @if (!string.IsNullOrWhiteSpace(data.Value.Source))
                        {
                            <RadzenBadge Text="@data.Value.Source" IsPill="true" BadgeStyle="BadgeStyle.Info"></RadzenBadge>
                        }
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="SelectableUser" Property="Value.UpdateDateTime" Filterable="true" Sortable="true" FormatString="{0:dd/M/yyyy HH:mm:ss}" SortOrder="SortOrder.Descending" Title="@Global.UpdateDateTime" Width="80px" />
                <RadzenDataGridColumn TItem="SelectableUser" Filterable="false" Sortable="false" FormatString="{0:dd/M/yyyy HH:mm:ss}" Width="80px" TextAlign="TextAlign.Center">
                    <Template Context="data">
                        <SidAuthorizeView Roles=@($"/users/manage")>
                            <Authorized>
                                <RadzenButton Icon="more_vert" Click="@(args => ShowMoreContextMenu(data, args))" />
                            </Authorized>
                        </SidAuthorizeView>
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
    </Authorized>
    <NotAuthorized>
        @Global.NotAuthorized
    </NotAuthorized>
</SidAuthorizeView>

@code {
    bool selectAll = false;
    RadzenDataGrid<SelectableUser> gridUsers;

    protected async override Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if(firstRender)
        {
            SubscribeToAction<AddUserSuccessAction>(async (act) =>
            {
                notificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Success, Summary = Global.UserAdded });
                dialogService.Close();
            });
            SubscribeToAction<RemoveSelectedUsersSuccessAction>(async (act) =>
            {
                notificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Success, Summary = Global.SelectedUsersRemoved });
                dialogService.Close();
            });
            if (!userState.Value.IsLoading)
                gridUsers?.Reload();
        }
    }

    void LoadData(LoadDataArgs args)
    {
        var act = new SearchUsersAction { Filter = args.Filter, OrderBy = args.OrderBy, Skip = args.Skip, Take = args.Top };
        dispatcher.Dispatch(act);
    }    

    void ShowMoreContextMenu(SelectableUser user, MouseEventArgs args)
    {
        contextMenuService.Open(args, new List<ContextMenuItem>
        {
            new ContextMenuItem { Text = Global.Delete, Value = 1 }
        }, (a) => {
            if(a.Value.Equals(1)) 
            {
                var userIds = userState.Value.Users?.Where(c => c.IsSelected).Select(c => c.Value.Id)?.ToList();
                var act = new RemoveSelectedUsersAction { UserIds = userIds };
                dispatcher.Dispatch(act);
                contextMenuService.Close();
            }
        });
    }


    void ToggleChanged(bool isSelected, SelectableUser user)
    {
        var act = new ToggleUserSelectionAction { IsSelected = isSelected, UserId = user.Value.Id };
        dispatcher.Dispatch(act);
    }


    void ToggleAll(bool isSelected)
    {
        var act = new ToggleAllUserSelectionAction { IsSelected = isSelected };
        dispatcher.Dispatch(act);
    }

    void RowRender(RowRenderEventArgs<SelectableUser> row)
    {
        const string className = "class";
        if (row.Data.IsNew)
            row.Attributes.Add(className, "new");
        else if (row.Data.IsSelected)
            row.Attributes.Add(className, "active");
        else if (row.Attributes.ContainsKey(className))
            row.Attributes.Remove(className);
    }

    async void AddUser()
    {
        await dialogService.OpenAsync<AddUserDialog>(Global.AddUser, new Dictionary<string, object>(), new DialogOptions
        {
            Width = "700px",
            Height ="512px",
            Resizable = true,
            Draggable = true
        });
    }
}