@using FormBuilder.Components.Drag
@using FormBuilder.Helpers
@inject ITranslationHelper translationHelper

<DraggableFormElement IsEditModeEnabled=@IsEditModeEnabled ParentContext="@ParentContext" Context="@Context" TDialog="DividerDialog" TRecord="DividerLayoutRecord" Record="@Value">
     <Children>
        <div class="@ContainerClass">
            <span class="@TextClass">@translationHelper.Translate(Value, InputData, !IsEditModeEnabled)</span>
         </div>
    </Children>
</DraggableFormElement>