@using SimpleIdServer.IdServer.Authenticate.Handlers;
@using SimpleIdServer.IdServer.Website.Resources;
@using SimpleIdServer.IdServer.Website.Stores.ClientStore;
@using SimpleIdServer.IdServer.Website.Stores.UserStore;
@inherits Fluxor.Blazor.Web.Components.FluxorLayout
@inject NotificationService notificationService
@inject NavigationManager navigationManager
@inject ContextMenuService contextMenuService
@inject DialogService dialogService
@layout MainLayout
@inject IState<UpdateClientState> updateClientState
@inject IDispatcher dispatcher

<RadzenTemplateForm Submit=@UpdateCredential TItem="UpdateClientCredential" Data=@updateClientCredential>
    <!-- Authentication method -->
    <div>
        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Authentication method</RadzenText>
        <RadzenDropDown Name="AuthMethod" Class="w-100"
                        Data=@clientCredentialInfos
                        TValue="string"
                        @bind-Value=@updateClientCredential.AuthMethod
                        TextProperty="Name" ValueProperty="AuthMethod" />
        <RadzenRequiredValidator Component="AuthMethod" Text="Authentication method is required"></RadzenRequiredValidator>
    </div>
    @if (updateClientCredential != null && !string.IsNullOrWhiteSpace(updateClientCredential.AuthMethod))
    {        
        <div class="text-muted">
            <RadzenIcon Icon="info" />
            @(clientCredentialInfos.Single(c => c.AuthMethod == updateClientCredential.AuthMethod).Description)
        </div>
    }

    @switch (updateClientCredential.AuthMethod)
    {
        case OAuthClientSecretPostAuthenticationHandler.AUTH_METHOD:
        case OAuthClientSecretBasicAuthenticationHandler.AUTH_METHOD:
            <!-- Secret-->
            <div>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Client secret</RadzenText>
                <RadzenPassword Name="ClientSecret" @bind-Value="@updateClientCredential.ClientSecret" Class="w-100"></RadzenPassword>
                <RadzenRequiredValidator Component="ClientSecret" Text="Client secret is required"></RadzenRequiredValidator>
            </div>
            break;
        case OAuthClientTlsClientAuthenticationHandler.AUTH_METHOD:
            <!-- TlsClientAuthSubjectDN -->
            <div>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Subject Distinguished Name</RadzenText>
                <RadzenTextBox Name="TlsClientAuthSubjectDN" @bind-Value="@updateClientCredential.TlsClientAuthSubjectDN" Class="w-100"></RadzenTextBox>
            </div>
            <!-- TlsClientAuthSanDNS -->
            <div>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">DNS</RadzenText>
                <RadzenTextBox Name="TlsClientAuthSanDNS" @bind-Value="@updateClientCredential.TlsClientAuthSanDNS" Class="w-100"></RadzenTextBox>
            </div>
            <!-- TlsClientAuthSanEmail -->
            <div>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Email</RadzenText>
                <RadzenTextBox Name="TlsClientAuthSanEmail" @bind-Value="@updateClientCredential.TlsClientAuthSanEmail" Class="w-100"></RadzenTextBox>
            </div>
            <!-- TlsClientAuthSanIP -->
            <div>
                <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">IP</RadzenText>
                <RadzenTextBox Name="TlsClientAuthSanIP" @bind-Value="@updateClientCredential.TlsClientAuthSanIP" Class="w-100"></RadzenTextBox>
            </div>
            break;
    }

    <RadzenButton class="mt-1" Variant="Variant.Flat" ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Success" Text="@(updateClientState.Value.IsUpdating ? "Updating..." : "Save")" Disabled="@(updateClientState.Value.IsUpdating)" />
</RadzenTemplateForm>

@code {
    record UpdateClientCredential
    {
        public string AuthMethod { get; set; } = null!;
        public string? ClientSecret { get; set; } = null;
        public string? TlsClientAuthSubjectDN { get; set; } = null;
        public string? TlsClientAuthSanDNS { get; set; } = null;
        public string? TlsClientAuthSanEmail { get; set; } = null;
        public string? TlsClientAuthSanIP { get; set; } = null;
    }

    record ClientCredentialInfo
    {
        public string Name { get; set; } = null!;
        public string AuthMethod { get; set; } = null!;
        public string Description { get; set; } = null!;
    }

    UpdateClientCredential updateClientCredential = new UpdateClientCredential();
    List<ClientCredentialInfo> clientCredentialInfos = new List<ClientCredentialInfo>
    {
        new ClientCredentialInfo { AuthMethod = OAuthClientSecretPostAuthenticationHandler.AUTH_METHOD, Name = "Client Secret Post", Description = "Application provides its secret in the HTTP request body as a form parameter." },
        new ClientCredentialInfo { AuthMethod = OAuthClientSecretBasicAuthenticationHandler.AUTH_METHOD, Name = "Client Secret Basic", Description = "Application uses HTTP Basic Authentication Scheme." },
        new ClientCredentialInfo { AuthMethod = OAuthClientPrivateKeyJwtAuthenticationHandler.AUTH_METHOD, Name = "Signed JWT", Description = "Application crafts a digitally signed JWT assertion and includes it to the request." },
        new ClientCredentialInfo { AuthMethod = OAuthClientSecretJwtAuthenticationHandler.AUTH_METHOD, Name = "Signed JWT with Client Secret", Description = "Application crafts a JWT assertion that contains a message authentication code (MAC) in its signature part, and includes it to the request." },
        new ClientCredentialInfo { AuthMethod = OAuthClientSelfSignedTlsClientAuthenticationHandler.AUTH_METHOD, Name = "Self Signed X509 Certificate", Description = "Application uses a self-signed certificate. The certificate public key (RSA or EC) must be supplied to the IdentityServer by value jwks or by url using the jwks_uri." },
        new ClientCredentialInfo { AuthMethod = OAuthClientTlsClientAuthenticationHandler.AUTH_METHOD, Name = "X509 Certificate", Description = "Application uses a certificate issued by a trusted Certificate Authority (CA)." },
        new ClientCredentialInfo { AuthMethod = OAuthPKCEAuthenticationHandler.AUTH_METHOD, Name = "PKCE", Description = "Introduces a secret created by the calling application that can be verified by the authorization server." }
    };

    [Parameter]
    public SimpleIdServer.IdServer.Domains.Client Client { get; set; }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender)
        {
            SubscribeToAction<UpdateClientCredentialsSuccessAction>((act) =>
            {
                notificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Success, Summary = Global.ClientCredentialsUpdated });
                StateHasChanged();
            });
        }
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        if (Client == null) return;
        updateClientCredential.AuthMethod = Client.TokenEndPointAuthMethod;
        updateClientCredential.ClientSecret = Client.ClientSecret;
        updateClientCredential.TlsClientAuthSubjectDN = Client.TlsClientAuthSubjectDN;
        updateClientCredential.TlsClientAuthSanDNS = Client.TlsClientAuthSanDNS;
        updateClientCredential.TlsClientAuthSanEmail = Client.TlsClientAuthSanEmail;
        updateClientCredential.TlsClientAuthSanIP = Client.TlsClientAuthSanIP;
    }

    void UpdateCredential(UpdateClientCredential updateClientCred)
    {
        var act = new UpdateClientCredentialsAction 
        { 
            AuthMethod = updateClientCred.AuthMethod, 
            ClientId = Client.ClientId,
            ClientSecret = updateClientCred.ClientSecret,
            TlsClientAuthSubjectDN = updateClientCred.TlsClientAuthSubjectDN,
            TlsClientAuthSanDNS = updateClientCred.TlsClientAuthSanDNS,
            TlsClientAuthSanEmail = updateClientCred.TlsClientAuthSanEmail,
            TlsClientAuthSanIP = updateClientCred.TlsClientAuthSanIP
        };
        dispatcher.Dispatch(act);
    }
}