@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portal - @ViewBag.Title</title>
    <link rel="stylesheet" href="@Url.Content("~/lib/twitter-bootstrap/css/bootstrap.css")" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Portal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-link">
                        <a href="@Url.Action("Index", "Pictures")">View pictures</a>
                    </li>
                    <li class="nav-link">
                        <a href="@Url.Action("Add", "Pictures")">Add picture</a>
                    </li>
                    <li class="nav-link">
                        <a href="https://localhost:60001" target="_blank">Go to UMA2.0 server</a>
                    </li>
                }
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Login", "Home")">Authenticate</a>
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link">
                            Welcome <b>@User.Identity.Name</b>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Disconnect", "Home")">Disconnect</a>
                    </li>
                }
            </ul>
        </div>
    </nav>
    <div class="container">
        <div>
            @RenderSection("PageTitle", false)
        </div>
        <div>
            @RenderBody()
        </div>
    </div>
    <script type="text/javascript" src="@Url.Content("~/lib/twitter-bootstrap/js/bootstrap.js")"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>