@inherits FluxorComponent
@using Fluxor.Blazor.Web.Components;
@using SimpleIdServer.IdServer.Website.Stores.IdProviderStore;
@using SimpleIdServer.IdServer.Website.Stores.IdentityProvisioningStore;
@inject IState<UpdateIdentityProvisioningState> addIdProvisioningState

@if (!addIdProvisioningState.Value.IsUpdating && !string.IsNullOrWhiteSpace(addIdProvisioningState.Value.ErrorMessage))
{
    <RadzenAlert AllowClose="false" AlertStyle="AlertStyle.Danger" ShowIcon="true" Variant="Variant.Flat" Shade="Shade.Lighter">@addIdProvisioningState.Value.ErrorMessage</RadzenAlert>
}

@foreach (var property in IdProvisioningProperties)
{
    <div>
        <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">@property.DisplayName</RadzenText>
        <RadzenTextBox @bind-Value="@property.ValueStr" Class="w-100"></RadzenTextBox>
        <p class="text-muted">@property.Description</p>
    </div>
}
<RadzenButton class="mt-1" Variant="Variant.Flat" ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Success" Text="@(addIdProvisioningState.Value.IsUpdating ? (IsAddForm ? "Adding..." : "Updating...") : (IsAddForm ? "Add" : "Update"))" Disabled=@addIdProvisioningState.Value.IsUpdating Click="@(args => AddIdProvisioning())" />

@code {
    [Parameter]
    public IdentityProvisioningDefinition IdProvisioningDef { get; set; }
    [Parameter]
    public IdentityProvisioning IdProvisioning { get; set; }
    [Parameter]
    public bool IsAddForm { get; set; } = true;
    [Parameter]
    public EventCallback<IEnumerable<IdentityProvisioningProperty>> IdProvisioningSaved { get; set; }

    record IdProvisioningProperty
    {
        public string PropertyName { get; set; }
        public string DisplayName { get; set; }
        public string? Description { get; set; }
        public string? ValueStr { get; set; }
    }

    ICollection<IdProvisioningProperty> IdProvisioningProperties = new List<IdProvisioningProperty>();

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        if (IdProvisioningDef == null) return;
        IdProvisioningProperties = new List<IdProvisioningProperty>();
        foreach (var property in IdProvisioningDef.Properties)
        {
            var value = IdProvisioning?.Properties.SingleOrDefault(p => p.PropertyName == property.PropertyName)?.Value;
            IdProvisioningProperties.Add(new IdProvisioningProperty
            {
                DisplayName = property.DisplayName,
                PropertyName = property.PropertyName,
                Description = property.Description,
                ValueStr = value
            });
        }
    }

    async void AddIdProvisioning()
    {
        var properties = IdProvisioningProperties.Select(a => new IdentityProvisioningProperty
        {
            PropertyName = a.PropertyName,
            Value = a.ValueStr 
        });
        await IdProvisioningSaved.InvokeAsync(properties);
    }
}