@using FormBuilder.Components.Drag
@using FormBuilder.Helpers
@inject ITranslationHelper translationHelper

 <DraggableFormElement IsEditModeEnabled=@IsEditModeEnabled ParentContext="@ParentContext" Context="@Context" TDialog="FormAnchorDialog" TRecord="FormAnchorRecord" Record="@Value">
    <Children>
        @if(Value.ActAsButton)
        {
            <RadzenButton Text="@translationHelper.Translate(Value)" Click="@(async (e) => await Navigate())" class="fullWidth"></RadzenButton>
            <a href="@Url" style="display: none" @ref=LinkElt></a>
        }
        else
        {
            <RadzenLink Path="@Url" Text="@translationHelper.Translate(Value)" />
        }
    </Children>
</DraggableFormElement>