@using FormBuilder.Components.Drag
@using FormBuilder.Helpers
@using FormBuilder.Components.Interactable

@inject ITranslationHelper translationHelper

<InteractableElement Record="@Value" TRecord="FormAnchorRecord" Context=@WorkflowContext IsInteractableElementEnabled="@IsInteractableElementEnabled">
    <Children>        
        <DraggableFormElement IsEditModeEnabled=@IsEditModeEnabled ParentContext="@ParentContext" Context="@Context" TDialog="FormAnchorDialog" TRecord="FormAnchorRecord" Record="@Value">
            <Children>
                @if(Value.ActAsButton)
                {
                    <RadzenButton Text="@translationHelper.Translate(Value)" Click="@(async (e) => await Navigate())" class="fullWidth"></RadzenButton>
                }
                else
                {
                    <a href="#" @onclick:stopPropagation="true" @onclick:preventDefault="true" @onclick="@(async (e) => await Navigate())">@translationHelper.Translate(Value)</a>
                }
            </Children>
        </DraggableFormElement>
    </Children>
</InteractableElement>