@using FormBuilder.Components.Drag
@using FormBuilder.Helpers
@inject ITranslationHelper translationHelper


<DraggableFormElement IsEditModeEnabled=@IsEditModeEnabled ParentContext="@ParentContext" Context="@Context" TDialog="FormCheckboxDialog" TRecord="FormCheckboxRecord" Record="@Value">
     <Children>
        <div>
            <RadzenCheckBox Name="@Value.Name" @bind-Value="@Value.Value"></RadzenCheckBox>
            <RadzenLabel>@translationHelper.Translate(Value, IsEditModeEnabled ? "Please provide a name" : string.Empty, InputData, !IsEditModeEnabled)</RadzenLabel>
        </div>
     </Children>
</DraggableFormElement>