@using FormBuilder.Components.Drag
@using FormBuilder.Components.Form
@using FormBuilder.Helpers


<DraggableFormElement TDialog="EmptyDialog" Context="@Context" Record="@Value" TRecord="FormStackLayoutRecord" ParentContext="@ParentContext" IsViewSettingsDisabled="true" IsEditModeEnabled="@IsEditModeEnabled">
    <Children>
        @if(!Value.IsNotVisible) 
        {
            if (Value.Elements != null)
            {
                if(Value.IsFormEnabled)
                {
                    switch(Value.FormType)
                    {
                        case FormTypes.BLAZOR:
                            <EditForm style="@Value.CssStyle" Attributes=@Value.HtmlAttributes Model="Value" OnSubmit="async(e) => await Submit()" FormName="main">
                                <RadzenStack Orientation="Orientation.Vertical">
                                    @CustomRender
                                </RadzenStack>
                            </EditForm>
                            break;
                        default:
                            <form style="@Value.CssStyle" @attributes=@Value.HtmlAttributes action="@TargetUrl" method="post">
                                @foreach(var hiddenField in HiddenFields)
                                {
                                    <input type="hidden" name="@hiddenField.Key" value="@hiddenField.Value" />
                                }

                                <RadzenStack Orientation="Orientation.Vertical">
                                    @CustomRender
                                </RadzenStack>
                            </form>
                            break;
                    }
                }
                else
                {
                    <RadzenStack Attributes=@Value.HtmlAttributes Style="@Value.CssStyle" Orientation="Orientation.Vertical">
                        @CustomRender
                    </RadzenStack>
                }
            }

        }
    </Children>
</DraggableFormElement>