@using FormBuilder.Components.Drag
@using FormBuilder.Components.Form
@using FormBuilder.Components.Interactable
@using FormBuilder.Helpers


<InteractableElement Record="@Value" TRecord="FormStackLayoutRecord" Context=@Context IsInteractableElementEnabled="@(IsInteractableElementEnabled && Value.IsFormEnabled)">
    <Children>
        <EditableLayoutContainerElement Record="@Value" TRecord="FormStackLayoutRecord" TDialog="FormStackLayoutDialog" ParentContext="@ParentContext" IsEditModeEnabled="@IsEditModeEnabled">
            <Children>
                @if (Value.Elements != null)
                {
                    if(Value.IsFormEnabled)
                    {
                        switch(Value.FormType)
                        {
                            case FormTypes.BLAZOR:
                                <EditForm AdditionalAttributes=@Value.HtmlAttributes Model="Value" OnSubmit="async(e) => await Submit()" FormName="main">
                                    <RadzenStack Orientation="Orientation.Vertical">
                                        @CustomRender
                                    </RadzenStack>
                                </EditForm>
                                break;
                            default:
                                <form @attributes=@Value.HtmlAttributes target="@GetTargetUrl()" method="post">
                                    <RadzenStack Orientation="Orientation.Vertical">
                                        @CustomRender
                                    </RadzenStack>
                                </form>
                                break;
                        }
                    }
                    else
                    {
                        <RadzenStack Orientation="Orientation.Vertical">
                            @CustomRender
                        </RadzenStack>
                    }
                }
            </Children>
        </EditableLayoutContainerElement>
    </Children>
</InteractableElement>